body {
  background-color: rgba(162, 7, 7, 0.998);
}
div {
  background-color: white;
  width: 350px;
  padding: 20px;
  margin:100px;
}
h1 {
  color: green;
}
input {
  border-radius: 5px;
  width: 50px;
  height: 20px;
}
#compute {
  width: min-content;
}
